#temoignages{
  .temoignages_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;

    article{
      width: 30%;
      box-sizing: border-box;
      padding: 20px;
      box-shadow: $ombre;
      color: white;
      position: relative;
      height: auto;

      p.size{
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 800px){

  #temoignages{
    .temoignages_list{
      flex-direction: column;

      article{
        width: 70%;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;

        &:last-child{
          margin-bottom: 0px;
        }
      }
    }
  }
}
