#temoignages{
  width: 100%;
  background: url('../img/background-temoignages.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  .container{
    padding: 80px 0 20px 0;

    h2{
      color: white;
    }
  }
}
