// TYPOGRAPHIE

$lato: 'Lato', sans-serif;
$bold: 700;
$classic: 300;

//COULEURS

$jaune: #FFCA00;
$rgba: rgba(0,167,213,0.1);
$gris: #737373;

//OMBRE

$ombre: 2px 0px 10px 0px rgba(0,0,0,0.1);

//TRANSITION

$ease5: .5s ease;
